<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <h1>All Games</h1>
  <section>
    <% games.forEach((game) => { %>
      <a href="/games/<%= game._id %>"><div><%= game.gameTitle %></div></a>
      <% }) %>
  </section>
</main>
<%- include('../partials/footer') %>