<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <div>Game Title:</div>
  <div><%= game.gameTitle %></div>
  <div>Release Date:</div>
  <div><%= game.releaseDate %></div>
  <div>Console:</div>
  <div><%= game.console %></div>
</main>
<%- include('../partials/footer') %>