<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <div>Game Title:</div>
  <div><%= game.gameTitle %></div>
  <div>Release Date:</div>
  <div><%= game.releaseDate %></div>
  <div>Console:</div>
  <div><%= game.console %></div>
  <form action="/users/<%= user._id %>/myCollection" method="POST">

    <button type="submit" name="gameId" value="<%= game._id %>">Add to Collection</button>
  </form>
</main>
<%- include('../partials/footer') %>