<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/users/index.css">
<%- include('../partials/nav') %>
<main>
  <h1>Users Collections</h1>
  <section>
    <% users.forEach(u => { %>
     <div class="user">
      <a href="/users/<%= u._id %>"><%= u.username %></a>
    </div>
    <% }) %>
  </section>
</main>
<%- include('../partials/footer') %>
