<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>You selected <%= selectedUser.username %></h1>
<a href="/users/<%= user._id %>/myCollection">My Collection</a>
<%- include('../partials/footer') %>
