<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <h1>My Collection</h1>
  <section>
    <% user.myGames.forEach((game) => { %>
      <div><%= game.gameTitle %></div>
      <div><%= game.releaseDate %></div>
      <div><%= game.console %></div>
      <form method="POST" action="/users/<%= user._id %>/myCollection/<%= game._id %>?_method=DELETE">
        <button type="submit">X</button>
      </form>
      <% }) %>
  </section>
</main>
<%- include('../partials/footer') %>